html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}
.container{
	display: flex;
	justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(24, 21, 21);
}

.calc-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 800px;
    width: 600px;
    margin-top: 30px;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;

}

.calc-display{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 150px;
    width: 480px;
    background-color: grey;
    margin-top: 30px;
    padding-right: 20px;
    box-sizing: border-box;
    font-size: 60px;
    font-weight: 900;
    color: black !important;
}

.calc-calc{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 1000px;
    width: 90%;
    background-color: black;
}

.num{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 5px;
    margin: 10px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    box-shadow: rgb(245, 242, 242) 0px 3px 8px;
    cursor: pointer;
}

.action{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: rgb(199, 12, 12);
    border-radius: 5px;
    margin: 10px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    box-shadow: rgb(245, 242, 242) 0px 3px 8px;
    cursor: pointer;

}

.num:hover, .action:hover{
    box-shadow: rgb(245, 243, 243) 0px 1px 4px, rgba(255, 254, 254, 0.973) 0px 0px 0px 3px;
    font-size: 42px;
}